{% assign title = include.title %}
{% assign description = include.description %}
{% assign thumbnail = include.thumbnail %}
{% assign jobtitle = include.jobtitle %}
{% assign links = include.links %}
{% assign url = include.url %}

<div class="card card-team {% if include.thumbnail %}card-has-thumbnail{% endif %} {% if include.icon %}card-has-icon{% endif %}">
  {% if thumbnail %}
    <div class="card-thumbnail">
      {% if url %}
        <a href="{{ url | relative_url }}">
          <img width="140" height="140" src="{{ thumbnail | relative_url }}"/>
        </a>
      {% else %} 
        <img width="140" height="140" src="{{ thumbnail | relative_url }}"/>
      {% endif %}
    </div>
  {% endif %}

  <div class="card-content">
    <div class="card-title">
      {% if url %}
        <a href="{{ url | relative_url }}">
          <h3>{{ title }}</h3>
        </a>
      {% else %} 
        <h3>{{ title }}</h3>
      {% endif %}
    </div>
    <div class="card-jobtitle">
        {% if jobtitle == "daniel jobtitle" %} <h3>{% t team.Daniel.jobtitle %}</h3> {% endif %}
        {% if jobtitle == "hildur jobtitle" %} <h3>{% t team.Hildur.jobtitle %}</h3> {% endif %}
        {% if jobtitle == "kristjan jobtitle" %} <h3>{% t team.Kristjan.jobtitle %}</h3> {% endif %}
        {% if jobtitle == "einar jobtitle" %} <h3>{% t team.Einar.jobtitle %}</h3> {% endif %}
    </div>
    {% if description %}
      <div class="card-description">
        {% if description == "daniel description" %} <p>{% t team.Daniel.description %}</p> {% endif %}
        {% if description == "hildur description" %} <p>{% t team.Hildur.description %}</p> {% endif %}
        {% if description == "kristjan description" %} <p>{% t team.Kristjan.description %}</p> {% endif %}
        {% if description == "einar description" %} <p>{% t team.Einar.description %}</p> {% endif %}
      </div>
    {% endif %}
    {% if links %}
      <div class="card-links">
        {% for link in links %}
          {% if link.icon %}
            <a href="{{ link.url }}">
              <i class="{{ link.icon }}"></i>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>